<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Invite Friends!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "form-group email-forms">
            <label for = "inviteEmail" id = "emailHelp">Add an email to send an invite to!</label>
            <input type = "email" class="form-control inviteEmails" id="InputEmail1" aria-describedby="#emailHelp">
        </div>
      </div>
      {{!-- <button type = "button" class = "btn addEmailForm far fa-plus-square justify-content-center"></button> --}}
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-save" id = "saveBtn">Send!</button>
      </div>
    </div>
  </div>
</div>