<nav class="navbar">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
</nav>

<p></p>

<div class="container homePage">
    <img src="../assets/HomePage.jpg" width="700px">
    <br>

    <form class="login">
      <div class="row">
          <div class="col-md-5">
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>

          <div class="col-md-5">
              <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>

          <div class="col-md-2">
              <button type="submit" class="btn">Login</button>
          </div>

      </div>

      <div class="row homePage">
            <div class="col-md-12">
                <a href="/signup">Or Create an Account</a>
            </div>
 
      </div>
    </form>
</div>

<p></p>

<footer class="footer">
    Contributors and Credits: <a href="#">Links here</a> || <a href="#">Links here</a> || <a href="#">Links here</a> || <a href="#">Links here</a> || <a href="#">Links here</a>
</footer>


