<nav class="navbar">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
</nav>

<div class="card">
  <div class="card-body">
        <p>
            {{Sidekicks.sidekickName}}
        </p>

        <div class="row">
            <div class="col-md-4">
                {{!-- imgDiv to hold sidekick img --}}
                <div class="imgDiv"></div>

                {{!-- happinessPoints progress bar --}}
                <p>
                    {{> status}}
                </p>

                {{!-- buttons to bring up modals --}}
                <p>
                    <button class="btn">Add Task</button>
                    <br>
                    <button class="btn">See History</button>
                    <br>
                    {{> sleep-wake sleep=false}}
                </p>
            </div>

            {{!-- Div to hold added activities --}}
            <div class="col-md-8">
                {{#each Activity}}
                    {{> activity-block}}
                {{/each}}
            </div>
        </div>
  </div>
</div>

<script>
    function updateImg {
        if (Sidekicks.type === "dog") {
            if (Sidekicks.happinessPoints < 30) {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Dog-Alert.png'>");
            } else if (Sidekicks.happinessPoints > 60) {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Dog-Happy.png'>");
            } else {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Dog-Neutral.png'>");
            }
        } else if (Sidekicks.type === "cat") {
            if (Sidekicks.happinessPoints < 30) {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Cat-Alert.png'>");
            } else if (Sidekicks.happinessPoints > 60) {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Cat-Happy.png'>");
            } else {
                $(".imgDiv").empty();
                $(".imgDiv").html("<img src='assets/Cat-Neutral.png'>");
            }
        }
    }

    updateImg();
</script>