<nav class="navbar">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
</nav>

<div class="card">
  <div class="card-body">
        <p class="sidekickName"></p>

        <div class="row">
            <div class="col-md-4">
                {{!-- imgDiv to hold sidekick img --}}
                <div class="imgDiv"></div>

                {{!-- happinessPoints progress bar --}}
                <p>
                    {{> status}}
                </p>

                {{!-- buttons to bring up modals --}}
                <p>
                    <button class="btn addtask">Add Task</button>
                    <br>
                    <button class="btn">See History</button>
                    <br>
                    {{> sleep-wake sleep=false}}
                </p>
            </div>

            {{!-- Div to hold added activities --}}
            <div class="col-md-8">
                {{#each Activity}}
                    {{> activity-block}}
                {{/each}}
            </div>
        </div>
  </div>
</div>

<script src="/js/members.js"></script>
<script src="/js/homepage.js"></script>