<nav class="navbar">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
</nav>

<div class="card">
  <div class="card-body">
        <p class="sidekickName"></p>

        <div class="row">
            <div class="col-md-4">
                {{!-- imgDiv to hold sidekick img --}}
                <div class="imgDiv"></div>

                {{!-- happinessPoints progress bar --}}
                <p>
                    {{> status}}
                </p>

                {{!-- buttons to bring up modals --}}
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Launch demo modal
                    </button>
                    <br>
                    <button class="btn">See History</button>
                    <br>
                    {{> sleep-wake sleep=false}}
                </p>
                </div>

            {{!-- Div to hold added activities --}}
            <div class="col-md-8">
                {{#each Activity}}
                    {{> activity-block}}
                {{/each}}
            </div>
        </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <form>
            <label for="add-activity-form">Add New Activity</label>
            <input type="text" class="form-control" id="addActivity" placeholder="Activity Name">
            <br>
            <label for="FormSelect1">Select Category</label>
            <select class="form-control" id="selectCategory">
                <option>Personal Grooming</option>
                <option>Food</option>
                <option>Exercise</option>
                <option>Cleaning</option>
            </select>
            <br>
            <label for="difficulty">Difficulty</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" style="opacity: 1" type="radio" name="inlineCheckbox" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineCheckbox">1 Point</label>
                <input class="form-check-input" style="opacity: 1" type="radio" name="inlineCheckbox" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineCheckbox">3 Points</label>
                <input class="form-check-input" style="opacity: 1" type="radio" name="inlineCheckbox" id="inlineRadio5" value="5">
                <label class="form-check-label" for="inlineCheckbox">5 Points</label>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Save New Task</button>
        </form>
    </div>
</div>

<script src="/js/members.js"></script>
<script src="/js/homepage.js"></script>

<script>
    $(document).ready(function () {

        let activities = [];
        let category = $("#selectCategory option:selected").text();
        let difficulty = $(".form-check-input:checked").val();
        const activityname = $("#addActivity");

        $("#savenewtask").on("click", function () {
            const activityData = {
                activityName: activityname.val().trim(),
                priority: difficulty,
                category: category
            }

            console.log("********",activityData);

            createActivity(activityData.activityName, activityData.priority, activityData.category, activityData)
        });

        function createActivity(activityName, priority, category, activityData){
            
            
            //$.post("/api/activity", function(data){
            //    alert("success");
            //}).then(function () {
            //    console.log("new activity added: " + activityData);
            //});
        }

    })
</script>