<nav class="navbar">
    <h1>
        Self-Care Sidekick
    </h1>
</nav>

{{!-- Signup Container --}}
<div class="container signup-box">
    <div class="row">
        <div class="col-md-6 col-md-offset 3">
            <h2>Your Info</h2>
            <form class="signup">
                <div class="form-group">
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>

                {{!-- Choose Character/Avatar --}}
                <p>Choose a Sidekick:</p>
                <div class="row">
                    <div class="col-md-6 choose-cat form-check">
                        <label>
                        <input class = "form-check-input" type = "radio" name = "Choice" id = "catChoiceId" value = "/assets/Cat-Neutral.png">
                        <img src="/assets/Cat-Neutral.png" alt="Cat" width="250px" id="cat"
                            data-catdog="{{sidekickImage}}">
                        </label>
                    </div>

                    <div class="col-md-6 choose-dog form-check">
                        <label>
                       <input class = "form-check-input" type = "radio" name = "Choice" id = "dogChoiceId" value = "/assets/Dog-Neutral.png">
                           <img src="/assets/Dog-Neutral.png" alt="Dog" width="250px" id="dog"
                            data-catdog="{{sidekickImage}}">
                        </label>
                    </div>
                </div>
                <input type="text" class="form-control" id="name-input" placeholder="SidekickName">
                <br>
                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>

            <br>
            <p>Already a friend? Login <a href="/">here</a>.</p>
        </div>
    </div>
</div>

<footer class="footer">
    Contributors and Credits: <a href="#">Links here</a> || <a href="#">Links here</a> || <a href="#">Links here</a> ||
    <a href="#">Links here</a> || <a href="#">Links here</a>
</footer>


{{!-- data attributes, independent on-click event, set global variable = to data attribute $(this).data-attribute
if dog clicked, set value and add after submit --}}
{{!-- sidekickImage = url imgsrc --}}
<script>
    $(document).ready(function () {
        const signupForm = $(".signup");
        const emailInput = $("#email-input");
        const passwordInput = $("#password-input");
        const sidekick = $("#name-input");
        const imageChoice = $(".choice:checked")
       

       
        var sidekickImage = "";

        console.log("party"); 
        console.log(sidekick);


        signupForm.on("submit", event => {
            event.preventDefault();
            let help = $('input[name="Choice"]:checked').val();
            console.log(help);
        
            console.log("hi");


            const sidekickData = {
                name: sidekick.val().trim(),
                image: sidekickImage
            }   

            const userData = {
                email: emailInput.val().trim(),
                password: passwordInput.val().trim()
            };

            if (!userData.email || !userData.password) {
                alert("Please enter a valid username and password.")
                return;
            }

            createSidekick(sidekickData.name, sidekickData.image, sidekickData);
            createUser(userData.email, userData.password, userData);
            emailInput.val("");
            passwordInput.val("");
            sidekick.val("");
            alert("Welcome " + sidekickData.name + ". Please log in to continue.")
        });


        
        function createUser(email, password, userData) {
        $.post("/api/signup", {
            email: email,
            password: password
        }).then(
                function () {
                    console.log("new user added: " + userData);
                })
        }

        function createSidekick(name, image, sidekickData) {
            console.log("working?");
            $.post("/api/sidekick", {
                sidekickName: name,
                sidekickImage: image,
                UserId: 3
            }).then(
                    function () {
                        console.log("added sidekick: " + sidekickData);
                    }
            )
        }
    });
</script>