
body{
  background-color: #feeeca;
  font-family: 'Gochi Hand', cursive

}

.btn{
  background-color: #ad591d;
  color: 		#773d15;
  width: 100%;
}


.email,
.password{

  color: beige;

}

.signup,
.login {
  padding: 10px;
  margin-top: 10px;
  background-color: 	#2c3c54;
}

.navbar {
  background-color: #440a31;
}

h1 {
  color: white;
  text-align: center;
}

.homePage {
  text-align: center;
}

.footer {
  background-color: #f4ac84;
  text-align: center;
}
