
body{
  background-color: #fff2ea;
  font-family: 'Gochi Hand', cursive

}

.btn{
  background-color: #ff8d8b;
  color: #e84c3d;
  border: 1px solid #b8342f;
  width: 100%;
  margin: 2px;
}

.btn:hover {
  background-color: #e84c3d;
  color: #ff8d8b;
  border: 1px solid #b8342f;
}

.btn:active {
  background-color: #ff8d8b;
  color: #e84c3d;
  border: 1px solid #b8342f;
}

.btn-task{
  background-color: #ff8d8b;
  color: #e84c3d;
  border: 1px solid #b8342f;
  margin: 2px;
  border-radius: 5px;
}

.btn-task:hover {
  background-color: #e84c3d;
  color: #ff8d8b;
  border: 1px solid #b8342f;
}

.btn-task:active {
  background-color: #ff8d8b;
  color: #e84c3d;
  border: 1px solid #b8342f;
}

.logout {
  margin: 20px;
  float: right;
}

.line {
  text-decoration: line-through;
}

a {
  color: #e84c3d;
}

a:hover {
  color: #ff8d8b;
}

a:active {
  color: #b8342f;
}

.email,
.password{

  color: beige;

}

.signup,
.login {
  padding: 10px;
  margin-top: 10px;
  background-color: 	#3e607c;
  border: 1px solid #2d3e50;
  border-radius: 5px;
}

.navbar {
  background-color: #4da8bb;
}

.navbar-brand {
  margin-left: 75%;
  color: white;
}

.navbar-brand:hover {
  color: #f4ac84;
}


.header {
  color: white;
  text-align: center;
  white-space: nowrap;
}

.sidekickName {
  color: #3e607c;
  text-align: center;
}

.homePage {
  text-align: center;
}

.divContent {
  text-align: center;
}

.card-bg {
  background-color: #ffede2;
  border-color: #3c878c;
}

.footer {
  background-color: #4da8bb;
  text-align: center;
}

/* this section of css corresponds to signup html */

#sidekick-image-p {
  color: white;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f4ac84;
}

.modal-body {
  background-color: #ffffff;
}

.activity-check {
  height: 20px;
  width: 20px;
  opacity: 1;
}

.addEmailForm {
  width: 30px;
  color: white;
  margin-left: 85%;
}

/* Hide List Marker */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-listed {
  text-align: left;
}